body {
  width: @widthBody;
  padding: 0;
  margin: 0 auto;
}

.header {
  .section__page;
  .padding-page(38px, 150px, 0px, 158px);
  min-height: 1024px;
  background-image: url(../img/bg_header_img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: @colorWhite;
  font-family: MontserratUL;

  &__wrap {
    // width: @widthSite;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    .flexbox(row, space-between, center);
    min-width: 100px;
    padding: 0 223px;
    position: relative;

    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 181px;
      background-color: #484642 transparent;
      color: #fff;
      text-decoration: none;
      text-transform: capitalize;

      &__svg {
        fill: currentColor;
      }

      &__text {
        font-family: Raleway;
        font-size: 34px;
        letter-spacing: -1.36px;
        text-align: right;
      }

      &:hover {
        color: #c7b299;
      }

      &:active {
        color: #fff;
      }
    }

    &__list {
      .flexbox();
      list-style: none;
      padding: 0;
      margin: 0 0 0 219px;

      &__item {
        margin: 0 15px 0 14px;

        &:first-child {
          margin: 0 15px 0 0;
        }

        &:last-child {
          margin: 0 0 0 14px;
        }

        &:nth-last-child(4) {
          margin: 0 14px 0 16px;
        }

        &:nth-last-child(5) {
          margin: 0 14px 0 14px;
        }

        &__link {
          color: @colorWhite;
          text-decoration: none;
          font-size: 14px;

          &__svg {
            fill: currentColor;
          }

          &:hover {
            color: #c7b299;
          }

          &:active {
            color: #aa5555;
          }
        }
      }
    }

    &__cart__link {
      margin: 0 15px 0 48px;
    }

    &__cart__link,
    &__search__link {
      color: #fff;
      &__svg {
        fill: currentColor;
      }

      &:hover {
        color: #c7b299;
      }

      &:active {
        color: #fff;
      }
    }

    &__form {
      position: relative;

      &__lable {
        cursor: pointer;

        &:hover {
          color: #c7b299;
        }

        &:active {
          color: #fff;
        }
      }

      &__lable__svg {
        fill: currentColor;
      }
    }

    &__form__search {
      position: absolute;
      top: 35px;
      right: 0;
      opacity: 0;
      width: 1px;
      min-height: 0px;
      outline: none;
      border-radius: 5px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      padding-left: 10px;
      color: #c7b299;
      border: 1px solid #c7b299;
      background-color: #c7b299b0;
      cursor: alias;
    }

    &__form__search:hover {
      background-color: #c7b29940;
    }

    &__form__search:focus {
      opacity: 1;
      background-color: #c7b29940;
      cursor: auto;
      width: 300px;
      min-height: 50px;
      -webkit-transition: width 1s ease-out;
      -moz-transition: width 1s ease-out;
      -o-transition: width 1s ease-out;
      transition: width 1s ease-out;
      background-position: left;
    }
  }

  &__slider {
    .flexbox (row, space-between, flex-start);
    flex-wrap: wrap;
    min-height: 853px;
    margin: 20px 0 0 0;
    padding: 257px 0 0;
    box-sizing: border-box;
    position: relative;

    &__prev {
      display: block;
      width: 40px;
      min-height: 73px;
      margin: 100px 0 0 0;
      position: relative;
      order: 1;

      &:before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(-135deg);
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    &__prev:hover:before,
    &__next:hover:before {
      border-top: 2px solid #d3c1ad;
      border-right: 2px solid #d3c1ad;
    }

    &__next {
      display: block;
      width: 40px;
      min-height: 73px;
      margin: 100px 0 0 0;
      position: relative;
      order: 3;

      &:before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    &__wrap {
      width: 50%;
      text-align: center;
      order: 2;

      &__sub__title {
        font-family: Raleway;
        font-weight: 500;
        font-size: 36px;
        margin: 0;
      }

      &__title {
        font-family: Raleway;
        font-size: 52px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 4px 0 0 0;
      }

      &__text {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 16px;
        margin: 12px 130px 0;
        word-break: break-all;
        line-height: 23px;
        text-align: center;
      }

      &__btn {
        width: 170px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #998675;
        border-radius: 4px;
        border: none;
        margin: 51px auto 0 auto;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Raleway;
        font-weight: 800;
        font-size: 14px;
        box-sizing: border-box;

        &:hover {
          border: 1px solid #998675;
          background-color: #99867550;
          color: #998675;
        }

        &:active {
          color: #fff;
          background-color: #998675;
        }
      }
    }

    &__pagination {
      width: 100%;
      min-height: 25px;
      order: 4;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: flex-end;

      &__link {
        display: block;
        background-color: #fff;
        opacity: 0.5;
        width: 11px;
        min-height: 11px;
        border-radius: 50%;
        margin: 5px;

        &.link__active {
          width: 15px;
          min-height: 15px;
          background: none;
          border: 2px solid #ffffff80;
          box-sizing: border-box;
          margin: 0;
        }
      }
    }
  }
}
