.section__page {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

.padding-page (@top: 50px, @right: 50px, @bottom:50px, @left: 50px) {
  padding: @top @right @bottom @left;
}

.flexbox (@flexd: row; @jcontent: center; @align: center) {
  display: flex;
  flex-direction: @flexd;
  justify-content: @jcontent;
  align-items: @align;
}

.h2 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}

.h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}

.text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}
.textCardBody {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #8c8c8c;
}